# Dependencies
/node_modules
/frontend/node_modules
/backend/node_modules

# Lockfiles
package-lock.json
frontend/package-lock.json
backend/package-lock.json

# Build output
/frontend/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local